# Игнорируем виртуальное окружение
venv/

# Игнорируем кеш Python
__pycache__/
*.pyc
*.pyo

# Игнорируем логи
*.log

# Игнорируем файлы среды VS Code
.vscode/

# Игнорируем базы данных SQLite (если используешь)
db.sqlite3
