<div class="home-container">
    <div class="container">
        <h1>TechStore</h1>
        <div class="slider-container">
        </div>
        <div class="categories-container">
            <div class="categories">
                <img src="https://images.macrumors.com/t/Au-OUIb73hHvx2w8CirAir5bNbM=/1600x/article-new/2013/09/macbook-air-m2-roundup-header.png" alt="f">
                <button> Laptops </button>
            </div>
            <div class="categories">
                <img src="https://m.media-amazon.com/images/I/61cwywLZR-L._AC_SX466_.jpg" alt="">                
                <button 
                    routerLink='/product-list'>Smartphones</button>
            </div>
            <div class="categories">
                <img src="" alt="">
                <button> Tablets</button>
            </div>
            <div class="categories">
                <img src="" alt="">
                <button>Browse all products</button>
            </div>
        </div>

    </div>
</div>
<button routerLink="/product-list">all products</button>