<div class="header">
    <div class="container">
    
    <a routerLink="/home">
      <div class="logo-container">
        <i style="font-size:45px;" class="fa-solid fa-laptop-code"></i>
        <p style="margin-left: 10px;"> TECHSTORE </p>
      </div>
    </a>
  
    <div class="search-bar">
      <input type="text" placeholder="Looking for.." style="width: 100%; height: 36px; border-radius:6px; outline:none;border:none;">
      <i style="margin-left: -30px;" class="fa-solid fa-magnifying-glass"></i>
    </div>
  
    <div class="icons">
  
        <a routerLink="/like-service">
          <div class="likes">
            <i style="font-size:25px;" class="fa-solid fa-heart"></i>
            <p>Favourites</p>
          </div>
        </a>
  
        <a routerLink="/cart">
          <div class="checkout">
              <i style="font-size:26px;" class="fa-solid fa-cart-shopping"></i>
              <p>Checkout</p>
          </div>
        </a>
  
        <a routerLink="">
          <div class="user">
            <i style="font-size: 26px;" class="fa-solid fa-user" ></i>
            <p>Login</p>
          </div>
        </a>
  
    </div>
    </div>
  </div>